.wallpaper {
  min-height: 100vh;
  background-image: linear-gradient(rgba(white, 97%), rgba(white, 30%)), url(./assets/images/wallpaper.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}